# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/
package-lock.json
yarn.lock

# Log files
*.log

# Unit test reports
TEST*.xml
__tests__/coverage/
__tests__/database.sqlite

# Env files
*.env
